[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;all/allfiles;
Actions=OneDrivePin;OneDriveUnpin;OneDriveSync;
X-KDE-Priority=TopLevel
X-KDE-Submenu=OneDrive
X-KDE-Submenu[nb]=OneDrive
Icon=folder-cloud

[Desktop Action OneDrivePin]
Name=Always keep on this device
Name[nb]=Behold alltid på enheten
Icon=folder-download
Exec=odctl pin %F

[Desktop Action OneDriveUnpin]
Name=Free up space
Name[nb]=Frigjør plass
Icon=folder-cloud
Exec=odctl unpin %F

[Desktop Action OneDriveSync]
Name=Sync now
Name[nb]=Synkroniser nå
Icon=view-refresh
Exec=odctl sync %f
